# 编译输出目录
bin/

.dub
docs.json
__dummy.html
docs/
/dleveldb
dleveldb.so
dleveldb.dylib
dleveldb.dll
libdleveldb.a
dleveldb.a
dleveldb.lib
dleveldb-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
*selections.json
.*/
dub.selections.json
.sisyphus/
.arts/
.vscode/
.codeartsdoer